.header-title {
  display: flex;
  height: 75vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/roush-ford-ranger-1-1598774530.jpg');
  background-size: cover;
}
